$colors:(
primary: rgb(255, 255,255),
back: #333,
back2: lightgray,
danger: red
);

@function color($color-name){ 
    @return map-get($colors, $color-name )
};
    
html,
body{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

body{
    #logo{
background-color: color(back2);
display: flex;
flex-flow: row wrap;
align-items: center;
box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
.logo-inf{
    h2,h3{
    color: color(button);
    margin-left: 8px;
    font-family: sans-serif;

}
}
h1{
   margin-left: 29%; 
   color:color(danger);
   text-transform: uppercase;
  
    
}
    }
    h4{
        text-align: center;
        color:color(danger);
    }
    .content_wraper{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        .content_item{
            width: 27%;
            margin: 13px;
            height: 300px;
            h1{
                font-size: 25px;
            }
            img{
                width:50%;
            }
            button{
                display: block;
                border: none;
                border-radius: 4px;
                padding: 5px;
                color: blue;
                box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
                outline: none;
                cursor: pointer;
            }
            #oltre{
                visibility: visible;;
            }
        }


    }
}
